<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1> Welcome to the Admin dashboard</h1>
    <p> Please login to continue.</p>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">

    </form>
</body>
</html>